/* 1 rem = 16 pixels */
/*       = 10 px */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  max-width: 1440px;
}

header {
  /* border: 10px solid red; */
  background: url(Images/hero-background.png);
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 95.2rem;
  width: 100%;

  font-family: Poppins;
  font-style: normal;
  color: white;

  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 10px solid red; */
  /* align-self: flex-start; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 144rem;
  height: 12rem;
}

nav {
  /* border: 10px solid red; */
  width: 81.93%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 7.2rem;
  align-self: flex-start;
}

.list {
  display: flex;
}

.nav-links {
  /* border: 10px solid red; */
  font-size: 2.4rem;
  float: right;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  /* justify-self: flex-end; */
  padding: 0;
  gap: 5rem;
}

.active {
  width: 14.1rem;
  height: 6.5rem;
  font-size: 2.4rem;
  float: right;
  /* align-self: center;
  justify-self: flex-end; */

  /* White-primary */

  background: #ffffff;
  border-radius: 10px;
  color: #3e86f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

/* Hero Section */

.hero {
  /* border: 10px solid red; */
  align-self: center;
  flex-wrap: wrap;
}

.hero-title {
  height: 19rem;
  width: 82rem;
  font-size: 6.4rem;
  line-height: 9.6rem;
  font-weight: 600;
  text-align: center;
}

.hero-subtext {
  font-size: 2.4rem;
  line-height: 200%;
  font-weight: 500;
  height: 12.3rem;
  width: 78.4rem;
  text-align: center;
}

/* Section: Tabs */

.tabs {
  width: 100%;
  height: 37.4rem;
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* position: absolute;
  top: 0px; */
}

.widget {
  width: 118rem;
  height: 100%;
  /* border: 10px solid red; */
}

.facilities {
  width: 27.9rem;
  height: 10rem;
  /* border: 10px solid red; */
  /* background-color: red; */

  /* White-primary */

  /* background: #ffffff; */
  background: #000000;
  /* background: orange; */
  border-radius: 25px 25px 0px 0px;
}

.facilities-disc {
  width: 118rem;
  height: 27.4rem;
  /* border: 10px solid red; */
  /* background-color: aqua; */

  /* background: #ffffff; */
  background: #000000;
  /* background: orange; */
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0 5rem 5rem 5rem;
}

/* Section: offers */

.offers {
  width: 100%;
  height: 101.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offers h1 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.2rem;
  /* identical to box height */

  text-align: center;

  /* Black-primary */

  color: #000000;
}

.offers-category {
  width: 34rem;
  height: 6.4rem;
  background: #3e86f5;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.container {
  width: 118rem;
  height: 45.7rem;
  background: red;
}

/* Section: stats */

.stats {
  width: 100%;
  height: 96rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.invitation {
  width: 58rem;
  height: 59.7rem;
}

.stats h1 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.2rem;

  /* Black-primary */

  color: #000000;
}

.stats p {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 200%;
  /* or 40px */

  /* Black-75 */

  color: rgba(0, 0, 0, 0.5);
}

.btn {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height */

  /* White-primary */

  color: #ffffff;
  width: 17.9rem;
  height: 7.5rem;
  background: #3e86f5;
  border-radius: 10px;
  filter: drop-shadow(0.4rem 0.8rem 2.5rem rgba(62, 134, 245, 0.25));
}

/* Section: reviews */

.reviews {
  background: #000000;
  height: 80.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews .remarks {
  background: #3e86f5;
  height: 46.5rem;
  width: 118rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: green;
  width: 58rem;
  height: 46.5rem;
}

.page {
  background: red;
  width: 10rem;
  height: 4rem;
}
