/* 1 rem = 16 pixels */
/*       = 10 px */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  max-width: 1440px;
}

header {
  /* border: 10px solid red; */
  background: url(Images/hero-background.png);
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 95.2rem;
  width: 100%;

  /* font-family: Poppins;
  font-style: normal; */
  color: #ffffff;

  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 10px solid red; */
  /* align-self: flex-start; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 144rem;
  height: 12rem;
}

nav {
  /* border: 10px solid red; */
  width: 81.93%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 7.2rem;
  align-self: flex-start;
}

.list {
  display: flex;
}

.nav-links {
  /* border: 10px solid red; */
  font-size: 2.4rem;
  float: right;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  /* justify-self: flex-end; */
  padding: 0;
  gap: 5rem;
}

.nav-links a {
  color: #ffffff;
}

.active {
  width: 14.1rem;
  height: 6.5rem;
  font-size: 2.4rem;
  float: right;
  /* align-self: center;
  justify-self: flex-end; */

  /* White-primary */

  background: #ffffff;
  border-radius: 10px;
  color: #3e86f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

/* Hero Section */

.hero {
  /* border: 10px solid red; */
  align-self: center;
  flex-wrap: wrap;
}

.hero-title {
  height: 19rem;
  width: 82rem;
  font-size: 6.4rem;
  line-height: 9.6rem;
  font-weight: 600;
  text-align: center;
}

.hero-subtext {
  margin-top: 4rem;
  font-size: 2.4rem;
  line-height: 200%;
  font-weight: 500;
  height: 12.3rem;
  width: 78.4rem;
  text-align: center;
}

/* Section: Tabs */

.tabs {
  position: absolute;
  top: 80.3rem;
  right: 5rem;
  /* left: 13rem; */
  /* right: 13rem; */
  width: 100%;
  height: 37.4rem;
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* position: absolute;
  top: 0px; */
}

.widget {
  width: 118rem;
  height: 100%;
  /* border: 10px solid red; */
}

.facilities {
  width: 27.9rem;
  height: 10rem;
  /* border: 10px solid red; */
  /* background-color: red; */

  /* White-primary */

  background: #ffffff;
  /* background: #000000; */
  /* background: orange; */
  border-radius: 25px 25px 0px 0px;
}

.facilities-disc {
  width: 118rem;
  height: 27.4rem;
  /* border: 10px solid red; */
  /* background-color: aqua; */

  background: #ffffff;
  /* background: #000000; */
  /* background: orange; */
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0 5rem 5rem 5rem;
}

/* Section: offers */

.offers .card {
  margin-top: 4rem;
}
.offers,
.recommendation {
  margin-top: 22rem;
  width: 100%;
  height: 101.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
}
.offers h1,
.recommendation h1 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.2rem;
  /* identical to box height */

  text-align: center;

  /* Black-primary */

  color: #000000;
}

.offers-category,
.recommendation-category {
  width: 34rem;
  height: 6.4rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  /* White-primary */

  background: #ffffff;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  /* border: 3px solid red; */
}
.offers-category ul,
.recommendation-category ul {
  height: 100%;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* border: 3px solid black; */
}

.offers-category a,
.recommendation-category a {
  color: #000000;
}

.offers .current,
.current {
  padding: 1rem 2.4rem;
  background: #3e86f5;
  color: #ffffff;
  border-radius: 1rem;
}

.container {
  width: 118rem;
  height: 45.7rem;
  /* background: red; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.items {
  position: relative;
  border: 5px solid black;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  /* border: 5px solid red; */
}

.items img {
  border: 5px solid #000000;
  width: 29.3rem;
  height: 27.3rem;
  border-radius: 5rem;
}

.items h1 {
  /* position: absolute;
  right: 1.5rem;
  top: 6.3rem; */
  border: 5px solid #000000;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* identical to box height */

  letter-spacing: 0.5em;

  /* Black-75 */

  color: rgba(0, 0, 0, 0.5);

  /* transform: rotate(90deg); */
}

/* Section: stats */

.stats {
  width: 100%;
  height: 96rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stats img {
  width: 480px;
  height: 800px;
  background: #c4c4c4;
  border-radius: 75px;
}

.invitation {
  width: 58rem;
  height: 59.7rem;
}

.stats h1 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.2rem;

  /* Black-primary */

  color: #000000;
}

.stats p {
  /* font-family: "Poppins";
  font-style: normal; */
  margin: 2rem 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 200%;
  /* or 40px */

  /* Black-75 */

  color: rgba(0, 0, 0, 0.5);
}

.btn {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height */

  /* White-primary */

  color: #ffffff;
  width: 17.9rem;
  height: 7.5rem;
  background: #3e86f5;
  border-radius: 10px;
  filter: drop-shadow(0.4rem 0.8rem 2.5rem rgba(62, 134, 245, 0.25));
}

/* Section: reviews */

.reviews {
  /* background: #000000; */
  height: 80.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews .remarks {
  /* background: #3e86f5; */
  height: 46.5rem;
  width: 118rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 58rem;
  height: 46.5rem;
  background: #ffffff;
  border-radius: 5rem;
  padding-bottom: 5.5rem;
}

.cards .quote {
  width: 76%;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  text-align: center;

  /* color: #000000; */
}

.cards p {
  font-size: 2rem;
  line-height: 4.2rem;
  /* identical to box height */

  text-align: center;

  /* Blue-primary */

  /* color: #3e86f5; */
}

.cards img {
  top: 3.6rem;
  position: absolute;
}

.page {
  margin-top: 3rem;
  /* background: red; */
  width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.page button {
  background: none;
  height: 100%;
  width: 40%;

  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#previous {
  border: 3px solid #3e86f5;
  /* background: url(Images/Vector\ 2.png);
  background-repeat: no-repeat; */
}

#next {
  border: 3px solid #3e86f5;
  /* background: url(Images/Vector\ 1.png);
  background-repeat: no-repeat; */
}
/* Section: recommendation */

.destination {
  margin: 8rem 2rem;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  flex-wrap: wrap;
  /* background-color: #ffffff; */
}

.card {
  width: 28rem;
  min-height: 29.3rem;
  background: #ffffff;
  box-shadow: 0.4rem 0.4rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
  margin: 2rem;
}

.card .dest-img {
  padding: 1rem;
}

.card .dest-name {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.card .dest-name h1 {
  padding-left: 1rem;
  /* justify-self: flex-start; */
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* identical to box height */

  /* Black-primary */

  color: #000000;
}

.card .dest-loc {
  padding-left: 1rem;
  padding-bottom: 1rem;
  /* margin-bottom: 1rem; */
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* identical to box height */

  /* Black-75 */

  color: rgba(0, 0, 0, 0.5);
}

/* section: registration */

.register {
  /* border: 5px solid red; */
  height: 82.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register div {
  /* border: 5px solid red; */
  width: 118rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 10rem; */
  background: url(Images/registration.png);
}

.register h1 {
  width: 74.3rem;
  height: 15.1rem;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.register button {
  border-radius: 2.5rem;
  filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
}

/* footer */

footer {
  /* position: absolute; */
  /* bottom: 0;
  left: 0%; */

  /* border: 5px solid red; */
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-left: 13rem;

  font-weight: 500;
  font-size: 2rem;
  line-height: 4.2rem;
}

footer .nav-links {
  align-self: center;
  justify-self: end;
}

footer .nav-links a {
  color: black;
  /* border: 10px solid red; */
}
