/* 1 rem = 16 pixels */
/*       = 10 px */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  max-width: 1440px;
}

header {
  border: 10px solid red;
  background: url(Images/hero-background.png);
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 95.2rem;
  width: 100%;

  font-family: Poppins;
  font-style: normal;
  color: white;

  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 10px solid red; */
  /* align-self: flex-start; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 144rem;
  height: 12rem;
}

nav {
  /* border: 10px solid red; */
  width: 81.93%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 7.2rem;
  align-self: flex-start;
}

.list {
  display: flex;
}

.nav-links {
  /* border: 10px solid red; */
  font-size: 2.4rem;
  float: right;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  /* justify-self: flex-end; */
  padding: 0;
  gap: 5rem;
}

.active {
  width: 14.1rem;
  height: 6.5rem;
  font-size: 2.4rem;
  float: right;
  /* align-self: center;
  justify-self: flex-end; */

  /* White-primary */

  background: #ffffff;
  border-radius: 10px;
  color: #3e86f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

/* Hero Section */

.hero {
  /* border: 10px solid red; */
  align-self: center;
}

.hero-title {
  height: 19rem;
  width: 82rem;
  font-size: 6.4rem;
  line-height: 9.6rem;
  font-weight: 600;
  text-align: center;
}

.hero-subtext {
  font-size: 2.4rem;
  line-height: 200%;
  font-weight: 500;
  height: 12.3rem;
  width: 78.4rem;
  text-align: center;
}
